# Ignore everything
*

# Whitelist specific files
!excluded_versions.ini
!bfftool.py
!ibm_mrs_downloader.py
!setup_chrome.py
!setup_playwright.py
!run_windows.bat
!run_linux.sh
!requirements.txt
!README.md
!.gitignore
!local_assets/
!local_assets/**

# Ignore downloaded binaries and temp files
chrome/
chromedriver/
temp_chrome_setup/
!README.md
